html {
    background: radial-gradient(farthest-corner at right top,#06182D, #3a3a41);
    height: 100%;
    font-family: 'Roboto', cursive;
}

.home {
  color: #FFFFFF;
  text-align: center;
}

@media screen and (min-width:320px) and (max-width: 1024px) {
  
}