.c-home{
    background-color: #fff;
}

.c-home__list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 10px;
}

.c-home__button{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}